.aboutme-container{
    display: flex;
    justify-content: space-around;
    margin: 2.5rem;
}

.aboutme-details{
    width: 75%;
    margin-left: 2rem;
    color: #2d3f01;
}

.aboutme-details>h2{
    font-weight: 600;
}

.my-name{
    font-weight: 800;
    color: orangered;
    font-size: 3rem;
}

.details-text{
    width: 70%;
    font-weight: 500;
    color: #2d3f01a5;
}

.my-img{
    border: 2px solid whitesmoke;
    width: 80%;
    aspect-ratio: 1/1.2;
    border-radius: 5px ;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;}