

.nav-link{
    color: #4C0027;
    font-weight: 600;
    font-size: 1.2rem;
}

.nav-link a:not(:last-child){
    margin-right: 1rem;
    margin-bottom: 0;
    color: #4C0027;
    border-bottom: 2px solid white;
}

.nav-link a:hover:not(:last-child){
    border-bottom: 2px solid #980F5A;
}

.sign-up{
    border-radius: 5px;
    background-color: #980F5A;
    border: 2px solid #980F5A;
    color: white;
    padding: 0.4rem 6px;
}

.sign-up:hover{
    background-color: white;
    border: 2px solid #980F5A;
    color: #980F5A;
    /* font-weight: 600; */
}

/*  */